In [18]:
pip install pandas

Requirement already satisfied: pandas in /Users/sakshibansal/anaconda3/lib/python3.11/site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/sakshibansal/anaconda3/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /Users/sakshibansal/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /Users/sakshibansal/anaconda3/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in /Users/sakshibansal/anaconda3/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in /Users/sakshibansal/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [19]:
import pandas as pd

In [20]:
df=pd.read_csv('./output.csv')

In [24]:
transaction_df=df[df.iloc[:, -1].notna() & (df.count(axis=1) >= 4) ]
transaction_df.iloc[0] = transaction_df.iloc[0].str.lower()

keywords = ['description', 'details', 'remarks', 'particulars', 'purpose',
            'transactional information', 'details of transaction',
            'transaction particulars', 'comments', 'payment details']


matching_columns_first_row = transaction_df.iloc[0].apply(lambda cell: any(keyword in cell.lower() for keyword in keywords))


matching_column_label = matching_columns_first_row.index[matching_columns_first_row].tolist()

description_column = transaction_df[matching_column_label]

selected_columns = transaction_df.iloc[:, [0,-3,-2,-1]] 
print(selected_columns.columns)
# selected_columns_copy = selected_columns.copy()

# Convert the 'Unnamed: 0' column to datetime in the copied DataFrame
# selected_columns_copy['Unnamed: 0'] = pd.to_datetime(selected_columns_copy['Unnamed: 0'], infer_datetime_format=True)
# selected_columns['Unnamed: 0'] = pd.to_datetime(selected_columns['Unnamed: 0'], infer_datetime_format=True)
# selected_columns.loc[:, 'Unnamed: 0'] = pd.to_datetime(selected_columns['Unnamed: 0'], infer_datetime_format=True)

result_df = pd.concat([selected_columns, description_column], axis=1)
print(result_df)

df_without_balance =result_df[result_df.iloc[:, -2] != 'balance']

print(df_without_balance)

Index(['Unnamed: 0', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5'], dtype='object')
     Unnamed: 0    Unnamed: 3    Unnamed: 4      Unnamed: 5  \
2          date   withdrawals      deposits         balance
4    27-04-2018           NaN     15,000.00  12,53,477.80Dr
5    27-04-2018      9,316.00           NaN  12,62,793.80Dr
6    27-04-2018         35.00           NaN  12,62,828.80Dr
7    29-05-2018           NaN     50,000.00  12,12,828.80Dr
..          ...           ...           ...             ...
187  30-09-2023      3,430.00           NaN   4,57,048.45Dr
188  31-10-2023      3,571.00           NaN   4,60,619.45Dr
189  30-11-2023      3,483.00           NaN   4,64,102.45Dr
190  31-12-2023      3,626.00           NaN   4,67,728.45Dr
191  Cumulative  18,52,236.43  13,84,507.98   4,67,728.45Dr

                                            Unnamed: 1
2                                          particulars
4                                               BY TRF
5    631906650000004:Normal Int.Coll:01-04-2018 to 30-
6    631906650000004:Penal Int.Coll:01-04-2018 to 30-0
7                                               BY TRF
..                                                 ...
187    631906650000004:N Int.:31-08-2023 to 29-09-2023
188    631906650000004:N Int.:30-09-2023 to 30-10-2023
189    631906650000004:N Int.:31-10-2023 to 29-11-2023
190    631906650000004:N Int.:30-11-2023 to 30-12-2023
191                                            Totals:

[136 rows x 5 columns]
     Unnamed: 0    Unnamed: 3    Unnamed: 4      Unnamed: 5  \
4    27-04-2018           NaN     15,000.00  12,53,477.80Dr
5    27-04-2018      9,316.00           NaN  12,62,793.80Dr
6    27-04-2018         35.00           NaN  12,62,828.80Dr
7    29-05-2018           NaN     50,000.00  12,12,828.80Dr
8    31-05-2018      9,562.00           NaN  12,22,390.80Dr
..          ...           ...           ...             ...
187  30-09-2023      3,430.00           NaN   4,57,048.45Dr
188  31-10-2023      3,571.00           NaN   4,60,619.45Dr
189  30-11-2023      3,483.00           NaN   4,64,102.45Dr
190  31-12-2023      3,626.00           NaN   4,67,728.45Dr
191  Cumulative  18,52,236.43  13,84,507.98   4,67,728.45Dr

                                            Unnamed: 1
4                                               BY TRF
5    631906650000004:Normal Int.Coll:01-04-2018 to 30-
6    631906650000004:Penal Int.Coll:01-04-2018 to 30-0
7                                               BY TRF
8    631906650000004:Normal Int.Coll:01-05-2018 to 31-
..                                                 ...
187    631906650000004:N Int.:31-08-2023 to 29-09-2023
188    631906650000004:N Int.:30-09-2023 to 30-10-2023
189    631906650000004:N Int.:31-10-2023 to 29-11-2023
190    631906650000004:N Int.:30-11-2023 to 30-12-2023
191                                            Totals:

[135 rows x 5 columns]

/var/folders/fm/p1xhm_h901sbsy02szqjbk100000gn/T/ipykernel_11394/3494531036.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transaction_df.iloc[0] = transaction_df.iloc[0].str.lower()

In [ ]:
array_of_objects = df_without_balance.to_records(index=False)
print(array_of_objects)

[('27-04-2018', nan, '15,000.00', '12,53,477.80Dr', 'BY TRF')
 ('27-04-2018', '9,316.00', nan, '12,62,793.80Dr', '631906650000004:Normal Int.Coll:01-04-2018 to 30-')
 ('27-04-2018', '35.00', nan, '12,62,828.80Dr', '631906650000004:Penal Int.Coll:01-04-2018 to 30-0')
 ('29-05-2018', nan, '50,000.00', '12,12,828.80Dr', 'BY TRF')
 ('31-05-2018', '9,562.00', nan, '12,22,390.80Dr', '631906650000004:Normal Int.Coll:01-05-2018 to 31-')
 ('31-05-2018', '35.00', nan, '12,22,425.80Dr', '631906650000004:Penal Int.Coll:01-05-2018 to 31-0')
 ('30-06-2018', nan, '16,000.00', '12,06,425.80Dr', 'BY TRF')
 ('30-06-2018', '8,990.00', nan, '12,15,415.80Dr', '631906650000004:Normal Int.Coll:01-06-2018 to 30-')
 ('30-06-2018', '11.00', nan, '12,15,426.80Dr', '631906650000004:Penal Int.Coll:01-06-2018 to 30-0')
 ('31-07-2018', '9,291.00', nan, '12,24,717.80Dr', '631906650000004:Normal Int.Coll:01-07-2018 to 31-')
 ('31-07-2018', '13.00', nan, '12,24,730.80Dr', '631906650000004:Penal Int.Coll:01-07-2018 to 31-0')
 ('30-08-2018', nan, '50,000.00', '11,74,730.80Dr', 'TRF')
 ('30-08-2018', nan, '33,000.00', '11,41,730.80Dr', 'BY TRF')
 ('30-08-2018', '33,000.00', nan, '11,74,730.80Dr', 'ENT DATED 30-8-18 REVERSED')
 ('31-08-2018', '9,337.00', nan, '11,84,067.80Dr', '631906650000004:Normal Int.Coll:01-08-2018 to 31-')
 ('31-08-2018', '24.00', nan, '11,84,091.80Dr', '631906650000004:Penal Int.Coll:01-08-2018 to 31-0')
 ('29-09-2018', '8,766.00', nan, '11,92,857.80Dr', '631906650000004:Normal Int.Coll:01-09-2018 to 30-')
 ('31-10-2018', '9,219.00', nan, '12,02,076.80Dr', '^631906650000004^:Normal Int.Coll:^01-10-2018^ to')
 ('31-10-2018', '14.00', nan, '12,02,090.80Dr', '^631906650000004^:Penal Int.Coll:^01-10-2018^ to')
 ('30-11-2018', '8,991.00', nan, '12,11,081.80Dr', '^631906650000004^:Normal Int.Coll:^01-11-2018^ to')
 ('30-11-2018', '25.00', nan, '12,11,106.80Dr', '^631906650000004^:Penal Int.Coll:^01-11-2018^ to')
 ('12-12-2018', nan, '50,000.00', '11,61,106.80Dr', 'TRF')
 ('31-12-2018', '9,111.00', nan, '11,70,217.80Dr', '^631906650000004^:Normal Int.Coll:^01-12-2018^ to')
 ('31-12-2018', '14.00', nan, '11,70,231.80Dr', '^631906650000004^:Penal Int.Coll:^01-12-2018^ to')
 ('31-01-2019', '9,044.00', nan, '11,79,275.80Dr', '^631906650000004^:Normal Int.Coll:^01-01-2019^ to')
 ('31-01-2019', '13.00', nan, '11,79,288.80Dr', '^631906650000004^:Penal Int.Coll:^01-01-2019^ to')
 ('22-02-2019', nan, '33,371.37', '11,45,917.43Dr', 'BY RECOVERY')
 ('28-02-2019', '8,174.00', nan, '11,54,091.43Dr', '^631906650000004^:Normal Int.Coll:^01-02-2019^ to')
 ('28-02-2019', '18.00', nan, '11,54,109.43Dr', '^631906650000004^:Penal Int.Coll:^01-02-2019^ to')
 ('31-03-2019', '8,822.00', nan, '11,62,931.43Dr', '^631906650000004^:Normal Int.Coll:^01-03-2019^ to')
 ('31-03-2019', '15.00', nan, '11,62,946.43Dr', '^631906650000004^:Penal Int.Coll:^01-03-2019^ to')
 ('22-04-2019', nan, '15,000.00', '11,47,946.43Dr', 'BY TRF')
 ('30-04-2019', nan, '19,000.00', '11,28,946.43Dr', 'BY EMI')
 ('30-04-2019', '8,565.00', nan, '11,37,511.43Dr', '^631906650000004^:Normal Int.Coll:^01-04-2019^ to')
 ('30-04-2019', '23.00', nan, '11,37,534.43Dr', '^631906650000004^:Penal Int.Coll:^01-04-2019^ to')
 ('21-05-2019', nan, '16,400.00', '11,21,134.43Dr', 'Loan Recovery From : 628901010050152')
 ('31-05-2019', '8,374.00', nan, '11,29,508.43Dr', '631906650000004:N Int.:01-05-2019 to 30-05-2019')
 ('31-05-2019', '9.00', nan, '11,29,517.43Dr', '631906650000004:P Int.:01-05-2019 to 30-05-2019')
 ('29-06-2019', '8,355.00', nan, '11,37,872.43Dr', '631906650000004:N Int.:31-05-2019 to 29-06-2019')
 ('Cumulative', '14,35,643.80', '2,97,771.37', '11,37,872.43Dr', 'Totals:')
 ('DATE', 'WITHDRAWALS', 'DEPOSITS', 'BALANCE', 'PARTICULARS')
 ('29-06-2019', '14.00', nan, '11,37,886.43Dr', '631906650000004:P Int.:31-05-2019 to 29-06-2019')
 ('29-07-2019', nan, '50,000.00', '10,87,886.43Dr', 'Loan Recovery From : 628901010050152')
 ('31-07-2019', '8,673.00', nan, '10,96,559.43Dr', '631906650000004:N Int.:30-06-2019 to 30-07-2019')
 ('31-07-2019', '27.00', nan, '10,96,586.43Dr', '631906650000004:P Int.:30-06-2019 to 30-07-2019')
 ('31-08-2019', '8,382.00', nan, '11,04,968.43Dr', '631906650000004:N Int.:31-07-2019 to 30-08-2019')
 ('30-09-2019', '8,174.00', nan, '11,13,142.43Dr', '631906650000004:N Int.:31-08-2019 to 29-09-2019')
 ('30-09-2019', '14.00', nan, '11,13,156.43Dr', '631906650000004:P Int.:31-08-2019 to 29-09-2019')
 ('19-10-2019', nan, '34,000.00', '10,79,156.43Dr', 'Loan Recovery From : 628901010050152')
 ('31-10-2019', '8,408.00', nan, '10,87,564.43Dr', '631906650000004:N Int.:30-09-2019 to 30-10-2019')
 ('31-10-2019', '18.00', nan, '10,87,582.43Dr', '631906650000004:P Int.:30-09-2019 to 30-10-2019')
 ('30-11-2019', '8,045.00', nan, '10,95,627.43Dr', '631906650000004:N Int.:31-10-2019 to 29-11-2019')
 ('30-11-2019', '14.00', nan, '10,95,641.43Dr', '631906650000004:P Int.:31-10-2019 to 29-11-2019')
 ('31-12-2019', '8,369.00', nan, '11,04,010.43Dr', '631906650000004:N Int.:30-11-2019 to 30-12-2019')
 ('31-12-2019', '29.00', nan, '11,04,039.43Dr', '631906650000004:P Int.:30-11-2019 to 30-12-2019')
 ('04-01-2020', nan, '45,000.00', '10,59,039.43Dr', 'Loan Recovery From : 628901010050152')
 ('21-01-2020', nan, '5,000.00', '10,54,039.43Dr', 'Loan Recovery From : 628905110001000')
 ('31-01-2020', '7,947.00', nan, '10,61,986.43Dr', '631906650000004:N Int.:31-12-2019 to 30-01-2020')
 ('31-01-2020', '10.00', nan, '10,61,996.43Dr', '631906650000004:P Int.:31-12-2019 to 30-01-2020')
 ('15-02-2020', nan, '16,740.00', '10,45,256.43Dr', 'Loan Recovery From : 628901010050152')
 ('29-02-2020', '7,369.00', nan, '10,52,625.43Dr', '631906650000004:N Int.:31-01-2020 to 28-02-2020')
 ('DATE', 'WITHDRAWALS', 'DEPOSITS', 'BALANCE', 'PARTICULARS')
 ('04-12-2020', nan, '2,484.57', '9,53,729.45Dr', 'Loan Coll. From628901010050152')
 ('31-12-2020', '5,469.00', nan, '9,59,198.45Dr', '631906650000004:N Int.:30-11-2020 to 30-12-2020')
 ('31-12-2020', '1.00', nan, '9,59,199.45Dr', '631906650000004:P Int.:30-11-2020 to 30-12-2020')
 ('31-12-2020', nan, '16,741.00', '9,42,458.45Dr', 'Loan Coll. From628901010050152')
 ('31-01-2021', '5,403.00', nan, '9,47,861.45Dr', '631906650000004:N Int.:31-12-2020 to 30-01-2021')
 ('31-01-2021', nan, '16,740.00', '9,31,121.45Dr', 'Loan Coll. From628901010050152')
 ('28-02-2021', '4,821.00', nan, '9,35,942.45Dr', '631906650000004:N Int.:31-01-2021 to 27-02-2021')
 ('28-02-2021', nan, '8,549.05', '9,27,393.40Dr', 'Loan Coll. From628901010050152')
 ('01-03-2021', nan, '8,190.95', '9,19,202.45Dr', 'Loan Coll. From628901010050152')
 ('31-03-2021', '5,271.00', nan, '9,24,473.45Dr', '631906650000004:N Int.:28-02-2021 to 30-03-2021')
 ('31-03-2021', nan, '16,740.00', '9,07,733.45Dr', 'Loan Coll. From628901010050152')
 ('30-04-2021', '5,036.00', nan, '9,12,769.45Dr', '631906650000004:N Int.:31-03-2021 to 29-04-2021')
 ('30-04-2021', nan, '15,122.58', '8,97,646.87Dr', 'Loan Coll. From628901010050152')
 ('17-05-2021', nan, '1,617.42', '8,96,029.45Dr', 'Loan Coll. From628901010050152')
 ('31-05-2021', '5,142.00', nan, '9,01,171.45Dr', '631906650000004:N Int.:30-04-2021 to 30-05-2021')
 ('31-05-2021', '2.00', nan, '9,01,173.45Dr', '631906650000004:P Int.:30-04-2021 to 30-05-2021')
 ('31-05-2021', nan, '16,742.00', '8,84,431.45Dr', 'Loan Coll. From628901010050152')
 ('24-06-2021', nan, '2.00', '8,84,429.45Dr', 'Pen interest')
 ('30-06-2021', '4,907.00', nan, '8,89,336.45Dr', '631906650000004:N Int.:31-05-2021 to 29-06-2021')
 ('30-06-2021', nan, '16,738.00', '8,72,598.45Dr', 'Loan Coll. From628901010050152')
 ('21-08-2021', '5,003.00', nan, '8,77,601.45Dr', '631906650000004:N Int.:30-06-2021 to 30-07-2021')
 ('21-08-2021', nan, '16,740.00', '8,60,861.45Dr', 'Loan Coll. From628901010050152')
 ('31-08-2021', '5,000.00', nan, '8,65,861.45Dr', '631906650000004:N Int.:31-07-2021 to 30-08-2021')
 ('31-08-2021', '14.00', nan, '8,65,875.45Dr', '631906650000004:P Int.:31-07-2021 to 30-08-2021')
 ('31-08-2021', nan, '16,754.00', '8,49,121.45Dr', 'Loan Coll. From628901010050152')
 ('30-09-2021', '4,711.00', nan, '8,53,832.45Dr', '631906650000004:N Int.:31-08-2021 to 29-09-2021')
 ('30-09-2021', nan, '16,740.00', '8,37,092.45Dr', 'Loan Coll. From628901010050152')
 ('31-10-2021', '4,799.00', nan, '8,41,891.45Dr', '631906650000004:N Int.:30-09-2021 to 30-10-2021')
 ('31-10-2021', nan, '16,740.00', '8,25,151.45Dr', 'Loan Coll. From628901010050152')
 ('30-11-2021', '4,578.00', nan, '8,29,729.45Dr', '631906650000004:N Int.:31-10-2021 to 29-11-2021')
 ('30-11-2021', nan, '16,740.00', '8,12,989.45Dr', 'Loan Coll. From628901010050152')
 ('31-12-2021', '4,661.00', nan, '8,17,650.45Dr', '631906650000004:N Int.:30-11-2021 to 30-12-2021')
 ('31-12-2021', nan, '16,740.00', '8,00,910.45Dr', 'Loan Coll. From628901010050152')
 ('31-01-2022', '4,592.00', nan, '8,05,502.45Dr', '631906650000004:N Int.:31-12-2021 to 30-01-2022')
 ('31-01-2022', nan, '16,740.00', '7,88,762.45Dr', 'Loan Coll. From628901010050152')
 ('28-02-2022', '4,084.00', nan, '7,92,846.45Dr', '631906650000004:N Int.:31-01-2022 to 27-02-2022')
 ('28-02-2022', nan, '16,740.00', '7,76,106.45Dr', 'Loan Coll. From628901010050152')
 ('31-03-2022', '4,449.00', nan, '7,80,555.45Dr', '631906650000004:N Int.:28-02-2022 to 30-03-2022')
 ('31-03-2022', nan, '16,740.00', '7,63,815.45Dr', 'Loan Coll. From628901010050152')
 ('30-04-2022', '4,238.00', nan, '7,68,053.45Dr', '631906650000004:N Int.:31-03-2022 to 29-04-2022')
 ('30-04-2022', nan, '16,740.00', '7,51,313.45Dr', 'Loan Coll. From628901010050152')
 ('31-05-2022', '4,472.00', nan, '7,55,785.45Dr', '631906650000004:N Int.:30-04-2022 to 30-05-2022')
 ('31-05-2022', nan, '16,740.00', '7,39,045.45Dr', 'Loan Coll. From628901010050152')
 ('30-06-2022', '4,536.00', nan, '7,43,581.45Dr', '631906650000004:N Int.:31-05-2022 to 29-06-2022')
 ('30-06-2022', nan, '16,740.00', '7,26,841.45Dr', 'Loan Coll. From628901010050152')
 ('31-07-2022', '4,722.00', nan, '7,31,563.45Dr', '631906650000004:N Int.:30-06-2022 to 30-07-2022')
 ('31-07-2022', nan, '16,740.00', '7,14,823.45Dr', 'Loan Coll. From628901010050152')
 ('31-08-2022', '4,840.00', nan, '7,19,663.45Dr', '631906650000004:N Int.:31-07-2022 to 30-08-2022')
 ('31-08-2022', nan, '16,740.00', '7,02,923.45Dr', 'Loan Coll. From628901010050152')
 ('DATE', 'WITHDRAWALS', 'DEPOSITS', 'BALANCE', 'PARTICULARS')
 ('30-09-2022', nan, '16,740.00', '6,90,892.45Dr', 'Loan Coll. From628901010050152')
 ('31-10-2022', '4,972.00', nan, '6,95,864.45Dr', '631906650000004:N Int.:30-09-2022 to 30-10-2022')
 ('31-10-2022', nan, '16,740.00', '6,79,124.45Dr', 'Loan Coll. From628901010050152')
 ('30-11-2022', '4,828.00', nan, '6,83,952.45Dr', '631906650000004:N Int.:31-10-2022 to 29-11-2022')
 ('30-11-2022', nan, '16,740.00', '6,67,212.45Dr', 'Loan Coll. From628901010050152')
 ('31-12-2022', '5,030.00', nan, '6,72,242.45Dr', '631906650000004:N Int.:30-11-2022 to 30-12-2022')
 ('31-12-2022', nan, '16,740.00', '6,55,502.45Dr', 'Loan Coll. From628901010050152')
 ('31-01-2023', '5,011.00', nan, '6,60,513.45Dr', '631906650000004:N Int.:31-12-2022 to 30-01-2023')
 ('31-01-2023', nan, '16,740.00', '6,43,773.45Dr', 'Loan Coll. From628901010050152')
 ('28-02-2023', '4,520.00', nan, '6,48,293.45Dr', '631906650000004:N Int.:31-01-2023 to 27-02-2023')
 ('28-02-2023', nan, '16,740.00', '6,31,553.45Dr', 'Loan Coll. From628901010050152')
 ('31-03-2023', '4,962.00', nan, '6,36,515.45Dr', '631906650000004:N Int.:28-02-2023 to 30-03-2023')
 ('31-03-2023', nan, '2,00,000.00', '4,36,515.45Dr', 'Loan Recovery From : 628901010050487')
 ('30-04-2023', '3,307.00', nan, '4,39,822.45Dr', '631906650000004:N Int.:31-03-2023 to 29-04-2023')
 ('31-05-2023', '3,437.00', nan, '4,43,259.45Dr', '631906650000004:N Int.:30-04-2023 to 30-05-2023')
 ('30-06-2023', '3,352.00', nan, '4,46,611.45Dr', '631906650000004:N Int.:31-05-2023 to 29-06-2023')
 ('31-07-2023', '3,490.00', nan, '4,50,101.45Dr', '631906650000004:N Int.:30-06-2023 to 30-07-2023')
 ('31-08-2023', '3,517.00', nan, '4,53,618.45Dr', '631906650000004:N Int.:31-07-2023 to 30-08-2023')
 ('30-09-2023', '3,430.00', nan, '4,57,048.45Dr', '631906650000004:N Int.:31-08-2023 to 29-09-2023')
 ('31-10-2023', '3,571.00', nan, '4,60,619.45Dr', '631906650000004:N Int.:30-09-2023 to 30-10-2023')
 ('30-11-2023', '3,483.00', nan, '4,64,102.45Dr', '631906650000004:N Int.:31-10-2023 to 29-11-2023')
 ('31-12-2023', '3,626.00', nan, '4,67,728.45Dr', '631906650000004:N Int.:30-11-2023 to 30-12-2023')
 ('Cumulative', '18,52,236.43', '13,84,507.98', '4,67,728.45Dr', 'Totals:')]